th {
    font-weight: 100;
    text-align: center;
}

.center {
    text-align: center;
}


.mob {


    letter-spacing: 1px;
    font-size: 0.8rem;
}

table > td{  
border-spacing: 0;
}
*{
margin: 0;
padding: 0%;

}